.student{
  margin: 10px;
  padding: 10px;
  border: 2px solid black;
  border-radius: 5px;
  width: 10%;
  flex-shrink: 0;
}

.student-details{
  margin: 5px 0;
  font-family:'Courier New', Courier, monospace ;
  font-weight: bold;
}

.cards{
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
}